
<div class="navbar sticky-top trans-bg row">   
<%# NAVBAR------------------------------------------------------------------------------- %>    
    <div class="col-lg-1">   
      <ul class="navbar-nav mr-auto d-inline-block">
        <li class="nav-item dropdown">
          
          <a class="nav-link dropdown-toggle d-inline-block d-linkify" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
          </a> 
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">   
            <% if logged_in? %>
              <a class="dropdown-item">   
                <%= link_to current_user.name, user_path(current_user), class:'nav-link' %>
              </a> 
              <div class="dropdown-divider"></div>  
            <% end %>
            <a class="dropdown-item">  
              <%= link_to 'Home', '/', class:'nav-link' %> 
            </a>  
            <% unless logged_in? %>
              <a class="dropdown-item">  
                <%= link_to 'Sign Up', new_user_path, class:'nav-link' %>
              </a> 
              <a class="dropdown-item"> 
                <%= link_to 'Log In', new_session_path, class:'nav-link' %>
              </a>  
            <% else %> 
              <a class="dropdown-item">  
              <%= link_to 'New Post', new_post_path, class:'nav-link' %>
              </a>
              <a class="dropdown-item"> 
                <%= link_to 'Log Out', logout_path, method: 'delete', class: 'nav-link' %>
              </a>
            <% end %>
          </div>
        
        </li>  
      </ul> 
    </div> 
<%# STATIC COMPANY LOGO------------------------------------------------------------------------------- %>    
    <div class="col-lg-10">
      <h1 class="text-white website-font d-inline-block text-center container-fluid">Elevator Pitch</h1>    
    </div>  
<%# GRID/HOME VIEW AHREF------------------------------------------------------------------------ %>
    <% if home? %>
      <div class="col-lg-1 text-right d-linkify">
        <%= link_to("Grid View","/posts") %> 
      </div> 
    <% end %>
<%# ------------------------------------------------------------------------------- %>    
</div>